name: Release to Maven Central (Sonatype)
on:
  workflow_dispatch:
    inputs:
      release_version:
        type: string
        description: Release version to use
        required: true
        default: "0.0.0"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Configure for Maven Central Repository
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5
        with:
          java-version: "17"
          distribution: "temurin"
          cache: "maven"
          server-id: ossrh
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
          gpg-private-key: ${{ secrets.OSSRH_GPG_PRIVATE_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE
      - name: Set up Git user information
        run: |
          git config --global user.email "${{ secrets.GIT_EMAIL }}"
          git config --global user.name "${{ secrets.GIT_USERNAME }}"
      - name: Release and deploy to Sonatype
        run: |
          mvn -B release:prepare release:perform \
            -Pdeploy \
            -DskipTests=true \
            -DautoVersionSubmodules=true \
            -Darguments=-DreleaseVersion=${{ github.event.inputs.release_version }} \
            -Darguments="-DskipTests=true \
            -Dgpg.passphrase=${{ secrets.OSSRH_GPG_PASSPHRASE }}" \
        env:
          MAVEN_GPG_PASSPHRASE: ${{ secrets.OSSRH_GPG_PASSPHRASE }}
          MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.OSSRH_TOKEN }}
